.header {
	width: 100vw;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	span {
		color: var(--primary-color);
	}

	.navigation {
		position: absolute;
		top: 25px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 2rem;

		.btn {
			cursor: pointer;
			background-color: var(--background-color);
			border: 5px solid var(--secondary-color);
			border-radius: 10%;
			padding: 5px;
			color: white;

			&:hover {
				transform: scale(110%);
			}

			&.logout-btn {
				margin-left: auto;
			}
		}
	}
}
