.header {
	width: 100vw;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	span {
		color: var(--primary-color);
	}

	.logout-btn {
		color: white;
		background-color: red;
	}
}
