<div class="header">
	<div class="navigation">
		<button
			*ngIf="
				(isLoggedIn | async) && (gameIsActive || router.url === '/profile')
			"
			class="btn back-btn fira"
			(click)="back()">
			<fa-icon [icon]="faChevronLeft"></fa-icon>
		</button>
		<button
			*ngIf="(isLoggedIn | async) && !gameIsActive && router.url !== '/profile'"
			class="btn logout-btn fira"
			(click)="logout()">
			<fa-icon [icon]="faRightFromBracket"></fa-icon>
		</button>
	</div>

	<div class="title">
		<h1 class="title fira"><span>HEX</span>GUESS</h1>
	</div>
	<div class="profile">
		<button
			*ngIf="(isLoggedIn | async) && !gameIsActive && router.url !== '/profile'"
			class="btn profile-btn fira"
			(click)="goToUserProfile()">
			<fa-icon [icon]="faUser"></fa-icon>
		</button>
	</div>
</div>
