<div class="friend-container">
	<div class="picture">
		<img src="{{ user.imgUrl }}" />
		<div
			class="status"
			[ngClass]="{
				online: user.onlineStatus === 'online',
				idle: user.onlineStatus === 'idle',
				busy: user.onlineStatus === 'busy',
				offline: user.onlineStatus === 'offline'
			}"
			(click)="removeFriend()">
			@switch (user.onlineStatus) {
				@case ('idle') {
					<fa-icon [icon]="faMoon"></fa-icon>
				}
				@case ('busy') {
					<fa-icon [icon]="faMinus"></fa-icon>
				}
				@case ('offline') {
					<fa-icon [icon]="faXmark"></fa-icon>
				}
			}
		</div>
	</div>

	<div class="name fira">
		<p>{{ user.userName }}</p>
	</div>
</div>
