.btn {
  background-color: var(--secondary-color);
  transition: background-color ease-in-out 100ms;
  width: calc(45vw - 10px);
  aspect-ratio: 3/1;

  display: flex;
  justify-content: center;
  align-items: center;

  .option {
    margin: 0;
    color: var(--text-color);
    font-size: large;
    text-transform: uppercase;
  }
  span {
    color: var(--primary-color);
  }

  &:active {
    background-color: #212d4067;
  }
}

.right {
  background-color: #266e22;
  transition: background-color ease-in-out 100ms;
}
.wrong {
  background-color: #6e2222;
  transition: background-color ease-in-out 100ms;
}
