h2,
div {
	color: var(--text-color);
}

h2 span:nth-child(1) {
	color: var(--primary-color);
}

.login-container {
	max-width: 300px;
	margin: auto;
	padding: 20px;
	border: 5px solid var(--secondary-color);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 15px;
	input.ng-invalid.ng-touched {
		border: 2px solid lightcoral;
	}
}

.error-msg {
	margin: 5px 0px;
	color: lightcoral;
	font-size: small;
}

label {
	display: block;
	font-weight: bold;
}

input {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	box-sizing: border-box;
}

.btn {
	width: 100%;
	padding: 10px 15px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--text-color);

	&:disabled {
		background-color: var(--secondary-color);
		cursor: default;
	}
}

/* Style for the buttons */
.btn:nth-child(n + 2) {
	background-color: var(--primary-color);
}

.new-user {
	p {
		font-size: small;
	}
}

.text-btn {
	background-color: transparent;
	font-weight: bold;
	color: var(--primary-color);
	border: none;
	width: auto;
	height: auto;
}
