<div class="login-container fira">
	<h2>
		<span>SIGN</span> <span>{{ isRegistered ? 'IN' : 'UP' }}</span>
	</h2>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<div *ngIf="!isRegistered" class="form-group">
			<label for="playerName">Player Name:</label>
			<input
				type="text"
				id="playerName"
				autocomplete="off"
				formControlName="playerName" />
			<div *ngIf="loginForm.get('playerName').touched" class="error-msg">
				<p *ngIf="loginForm.get('playerName').hasError('required')">
					Player name is required.
				</p>
				<p *ngIf="loginForm.get('playerName').hasError('minlength')">
					Player name must be at least 3 characters long.
				</p>
				<p *ngIf="loginForm.get('playerName').hasError('maxlength')">
					Player name must be less than 20 characters long.
				</p>
			</div>
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input
				type="email"
				id="email"
				autocomplete="email"
				formControlName="email" />
			<p
				class="error-msg"
				*ngIf="
					loginForm.get('email').hasError('required') &&
					loginForm.get('email').touched
				">
				E-Mail is required.
			</p>
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input
				type="password"
				id="password"
				[autocomplete]="isRegistered ? 'current-password' : 'new-password'"
				formControlName="password" />
			<p
				class="error-msg"
				*ngIf="
					loginForm.get('password').hasError('required') &&
					loginForm.get('password').touched
				">
				Password is required.
			</p>
		</div>
		<div *ngIf="!isRegistered" class="form-group">
			<label for="repeatPassword">Confirm Password:</label>
			<input
				type="password"
				id="repeatPassword"
				autocomplete="off"
				formControlName="repeatPassword" />
			<div class="error-msg" *ngIf="loginForm.get('repeatPassword').dirty">
				<p *ngIf="loginForm.get('repeatPassword').hasError('required')">
					Confirm password is required.
				</p>
				<p *ngIf="loginForm.get('repeatPassword').hasError('mismatch')">
					Passwords do not match.
				</p>
			</div>
		</div>
		<div class="error-msg" *ngIf="loginForm.getError('firebase') as error">
			{{ error }}
		</div>
		<div *ngIf="isRegistered" class="new-user">
			<p>Don't have an account yet?</p>
			<button class="text-btn" (click)="toggleToRegister()">Register</button>
		</div>
		<button *ngIf="!isRegistered" class="text-btn" (click)="toggleToRegister()">
			Sign in
		</button>
		<div class="btn-container">
			<button
				class="fira btn"
				type="submit"
				[disabled]="!isValidForm || isLoadingSignIn"
				(click)="signInWithEmail()">
				<ng-container
					*ngIf="isLoadingSignIn; then loading; else signInText"></ng-container>
			</button>
			<ng-template #signInText>{{
				isRegistered ? 'Login' : 'SignUp'
			}}</ng-template>

			<button
				class="fira btn"
				type="button"
				[disabled]="isLoadingGoogle"
				(click)="signInWithGoogle()">
				<ng-container
					*ngIf="isLoadingGoogle; then loading; else googleText"></ng-container>
			</button>
			<ng-template #googleText>Sign in with Google</ng-template>

			<button
				class="fira btn"
				type="button"
				[disabled]="isLoadingGitHub"
				(click)="signInWithGitHub()">
				<ng-container
					*ngIf="isLoadingGitHub; then loading; else githubText"></ng-container>
			</button>
			<ng-template #githubText>Sign in with GitHub</ng-template>
		</div>
	</form>
</div>

<ng-template #loading>
	<app-loading-spinner scale="0.5" />
</ng-template>
