<app-timer class="timer" />
<div class="container" [class.game-end]="gameState !== 'playing'">
	<div class="game-container">
		<div class="state">
			@if (config.game.mode === 'level') {
				<div class="level">
					<app-level />
				</div>
			}
			<div class="score">
				<app-score />
			</div>
			@if (config.lives.enabled) {
				<div class="hearts">
					<app-heart *ngFor="let i of lives()" [isDead]="i" />
				</div>
			}
		</div>
		<div class="ctg-container">
			<div
				class="color-to-guess"
				[ngStyle]="{
					'--color-to-guess': '#' + currentRound.colorToGuess
				}"></div>
		</div>
		<div class="btn-container">
			<app-button
				(btnClicked)="processGuess($event)"
				*ngFor="let i of currentRound.options"
				[option]="i" />
		</div>
	</div>
	<div class="game-end-container fira" *ngIf="gameState === 'game-over'">
		<div class="game-end-msg">
			<h1>Game Over 🪦</h1>
			<h2>Score: {{ gameStateSerivce.getScore() }}</h2>
			<button class="game-btn fira" (click)="restartGame()">Restart</button>
		</div>
	</div>
	<div class="game-end-container fira" *ngIf="gameState === 'game-won'">
		<div class="game-end-msg">
			<h1>Game Won 🎉</h1>
			<h2>Score: {{ gameStateSerivce.getScore() }}</h2>
			<button class="game-btn fira" (click)="restartGame()">Restart</button>
		</div>
	</div>
</div>
