<app-timer class="timer"></app-timer>
<div class="container" [class.game-over]="isGameOver">
	<div class="game-container">
		<div class="state">
			<div class="score">
				<app-score></app-score>
			</div>
			@if (config.lives.enabled) {
				<div class="hearts">
					<app-heart *ngFor="let i of lives()" [isDead]="i"></app-heart>
				</div>
			}
		</div>
		<div class="ctg-container">
			<div
				class="color-to-guess"
				[ngStyle]="{
					'--color-to-guess': '#' + currentRound.colorToGuess
				}"></div>
		</div>
		<div class="btn-container">
			<app-button
				(btnClicked)="processGuess($event)"
				*ngFor="let i of currentRound.options"
				[option]="i"></app-button>
		</div>
	</div>
	<div class="game-over-container fira" *ngIf="isGameOver">
		<div class="game-over-msg">
			<h1>Game Over</h1>
			<h2>Score: {{ gameStateSerivce.getScore() }}</h2>
			<button class="game-btn fira" (click)="restartGame()">Restart</button>
		</div>
	</div>
</div>
