@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

:root {
	--background-color: #11151c;
	--secondary-color: #212d40;
	--primary-color: #5a78ab;
	--text-color: #ffffff;

	--online-color: #008000;
	--idle-color: #d46224;
	--bussy-color: #800000;
	--offline-color: #363636;

	--header-height: 6rem;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	background-color: var(--background-color);
}

.fira {
	font-family: 'Fira Code', monospace;
}
.barcode {
	font-family: 'Libre Barcode 39 Text', system-ui;
	font-weight: 400;
	font-style: normal;
}
