<div class="container">
  <div class="title">
    <h1 class="fira"><span>HEX</span>GUESS</h1>
  </div>
  <div class="game-container">
    <div class="color-to-guess"></div>
    <div class="btn-container">
      <div class="btn fira">
        <p class="option"><span>#</span>{{ optionOne }}</p>
      </div>
      <div class="btn fira">
        <p class="option"><span>#</span>{{ optionTwo }}</p>
      </div>
      <div class="btn fira">
        <p class="option"><span>#</span>{{ optionThree }}</p>
      </div>
      <div class="btn fira">
        <p class="option"><span>#</span>{{ optionFour }}</p>
      </div>
    </div>
  </div>
</div>
