<div class="container">
  <div class="game-container">
    <div
      class="color-to-guess"
      [ngStyle]="{
      '--color-to-guess': '#' + colorToGuess,
    }"
    ></div>
    <div class="btn-container">
      <div class="btn fira" (click)="CheckForWin(1)">
        <p class="option"><span>#</span>{{ optionOne }}</p>
      </div>
      <div class="btn fira" (click)="CheckForWin(2)">
        <p class="option"><span>#</span>{{ optionTwo }}</p>
      </div>
      <div class="btn fira" (click)="CheckForWin(3)">
        <p class="option"><span>#</span>{{ optionThree }}</p>
      </div>
      <div class="btn fira" (click)="CheckForWin(4)">
        <p class="option"><span>#</span>{{ optionFour }}</p>
      </div>
    </div>
  </div>
</div>
