@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

:root {
  --background-color: #11151c;
  --secondary-color: #212d40;
  --primary-color: #5a78ab;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
}

.fira {
  font-family: "Fira Code", monospace;
}
