.stat-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
	padding-bottom: 20px;

	color: white;

	.circle {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		aspect-ratio: 1;
		border-radius: 100%;
		background: linear-gradient(
			45deg,
			var(--secondary-color) 0%,
			var(--primary-color) 100%
		);
		border: 3px dashed white;
		.value {
			color: var(--text-color);
			font-size: 22px;
		}
	}
}
